@import url('https://fonts.googleapis.com/css?family=Lato:100i');

a {
  text-decoration: none;
}
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em;

}
@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
.personmer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 25%;
  border-style: solid;
  border-collapse: collapse;
  border-width: thin;

  
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: both;

}
